* {
  font-family: Inter;
  font-size: 13px;
  border-radius: 17px;
}

#clock,
#custom-notification,
#custom-launcher,
#custom-power-menu,
#memory,
#disk,
#network,
#battery,
#custom-keeb-batt,
#pulseaudio,
#window,
#tray {
  padding: 5 15px;
  border-radius: 12px;
  background: #1e1e2e;
  color: #b4befe;
  margin: 8px 2px;
  transition: all 0.3s ease;
}

#mpd {
  padding: 5 55px;
  border-radius: 12px;
  background-image: url("cover.jpg"), url("cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin: 8px 2px;
  transition: all 0.3s ease;
  font-weight: 700;
}

#window {
  background-color: transparent;
  box-shadow: none;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 17px;
}

window * {
  background-color: transparent;
  border-radius: 0px;
}

#workspaces button label {
  color: #b4befe;
}

#workspaces button.active label {
  color: #1e1e2e;
  font-weight: bolder;
}

#workspaces button:hover {
  box-shadow: #b4befe 0 0 0 1.5px;
  background-color: #1e1e2e;
  min-width: 50px;
}

#workspaces {
  background-color: transparent;
  border-radius: 17px;
  padding: 5 0px;
  margin: 3px 0;
}

#workspaces button {
  background-color: #1e1e2e;
  border-radius: 12px;
  margin-left: 10px;
  transition: all 0.3s ease;
}

#workspaces button.visible {
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px;
  background-color: #f2cdcd;
  background-size: 400% 400%;
  transition: all 0.3s ease;
  background: linear-gradient(58deg, #cba6f7, #89b4fa, #f38ba8);
  background-size: 300% 300%;
  animation: colored-gradient 20s ease infinite;
}

#workspaces button.active {
  min-width: 50px;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px;
  background-color: #f2cdcd;
  background-size: 400% 400%;
  transition: all 0.3s ease;
  background: linear-gradient(58deg, #cba6f7, #89b4fa, #f38ba8);
  background-size: 300% 300%;
  animation: colored-gradient 20s ease infinite;
}

@keyframes colored-gradient {
  0% {
    background-position: 71% 0%;
  }
  50% {
    background-position: 30% 100%;
  }
  100% {
    background-position: 71% 0%;
  }
}

#custom-power-menu {
  margin-right: 10px;
  padding: 3px 15px 0 12px;
}

#custom-spotify {
  margin-left: 5px;
  padding: 3px 15px;
  color: #b4befe;
  background-color: #1e1e2e;
  transition: all 0.3s ease;
}

#custom-spotify.playing {
  color: rgb(180, 190, 254);
  background: rgba(30, 30, 46, 0.6);
  background: linear-gradient(90deg, #313244, #1e1e2e);
  background-size: 400% 100%;
  animation: grey-gradient 3s linear infinite;
  transition: all 0.3s ease;
}

@keyframes grey-gradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -33% 50%;
  }
}

#tray menu {
  background-color: #1e1e2e;
  opacity: 0.8;
}

#pulseaudio.muted {
  color: #f38ba8;
  padding-right: 16px;
}
