[Unit]
Description=Set display brightnesses to night time preferences

[Service]
ExecStart=/usr/bin/ddcutil --model VG258 setvcp 10 20; /usr/bin/ddcutil --model VX2758-SERIES setvcp 10 50; /usr/bin/ddcutil --model 'DELL S2421HS' setvcp 10 30 
Type=oneshot
User=root
